In [22]:
import sys, os

sys.path.append("../src")

from data_loader import load_raw_data
from config import DATA_RAW_PATH

print("CWD:", os.getcwd())
print("DATA RAW PATH:", DATA_RAW_PATH)

CWD: C:\Users\Admin\PyCharmMiscProject\medical_diagnosis_system\notebooks
DATA RAW PATH: C:\Users\Admin\PyCharmMiscProject\medical_diagnosis_system\data\raw\Disease_symptom_and_patient_profile_dataset.csv

In [23]:
df = load_raw_data()
df.head()

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive

In [24]:
print("Rows,Cols:", df.shape)
print(df.columns.tolist())
df.info()

Rows,Cols: (349, 10)
['Disease', 'Fever', 'Cough', 'Fatigue', 'Difficulty Breathing', 'Age', 'Gender', 'Blood Pressure', 'Cholesterol Level', 'Outcome Variable']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Disease               349 non-null    object
 1   Fever                 349 non-null    object
 2   Cough                 349 non-null    object
 3   Fatigue               349 non-null    object
 4   Difficulty Breathing  349 non-null    object
 5   Age                   349 non-null    int64
 6   Gender                349 non-null    object
 7   Blood Pressure        349 non-null    object
 8   Cholesterol Level     349 non-null    object
 9   Outcome Variable      349 non-null    object
dtypes: int64(1), object(9)
memory usage: 27.4+ KB

In [25]:
print(df['Diagnosis'].value_counts().head(30))
print(df['Diagnosis'].unique()[:50])

KeyError: 'Diagnosis'

In [26]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Disease,349,116,Asthma,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fever,349,2,Yes,175,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cough,349,2,No,182,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fatigue,349,2,Yes,242,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Difficulty Breathing,349,2,No,261,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,349.0,NaN,NaN,NaN,46.323782,13.08509,19.0,35.0,45.0,55.0,90.0
Gender,349,2,Female,176,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blood Pressure,349,3,High,167,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cholesterol Level,349,3,High,166,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outcome Variable,349,2,Positive,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN